table {
    width: 400px;
    border-collapse: collapse;
    overflow: hidden;
  border-radius: 3%;
    border-spacing: 10px;
}
th {
    text-align: left;
    background-color: green;
    color: white;
   overflow: hidden;
}
.number {
    text-align: right;
    

}
tr:nth-child(even) {
   background-color: whitesmoke;
}
tr:nth-child(ood) {
    background-color: gray;
}